# Chi-Square test

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency,chi2

In [3]:
df = pd.read_csv(r'C:\Users\lenovo\OneDrive\문서\chisqurare.csv')# Here we load the dataset excluding the total row and column
df

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

In [4]:
contingency = df[['Smart Thermostat', 'Smart Light']] # Here we have created a contingency table
contingency

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

In [5]:
#Calculate the Chi-Square parameters
chi2_stat, p, dof, expected = chi2_contingency(contingency)

In [6]:
chi2_stat, p, dof

(5.638227513227513, 0.22784371130697179, 4)

In [7]:
# Critical Value
alpha = 0.05
critical_value = chi2.ppf(q=1 - alpha, df=dof)
critical_value

9.487729036781154

In [8]:
# Conclusion:
if p < 0.05:
    print('Reject Null Hypothesis.Columns are dependent on each other.')
else:
    print('Fail to reject null hypothesis.')

Fail to reject null hypothesis.

In [9]:
# From the given dataset we can conclude that columns(Smart Thermostat, Smart Light) are not dependent on each other.