# Association Rules

In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\lenovo\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)

WARNING: Ignoring invalid distribution ~umpy (C:\Users\lenovo\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\lenovo\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\lenovo\anaconda3\Lib\site-packages)

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules, apriori
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_excel(r"C:\Users\lenovo\OneDrive\Desktop\Daily needs\DS Assingments\Done\Association Rules\Association Rules\Online retail.xlsx")
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

# Data Preprocessing

In [6]:
df.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [7]:
df.isna().sum() # There are no null values present in the dataset

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [8]:
transactions = df.values.tolist() # here we convert the dataset values into the python's list of list 
transactions = [','.join(transaction) for transaction in transactions] # by here we join it using (,)
transactions = [transaction.split(',') for transaction in transactions] # here we split the dataset to be identified by the python

In [9]:
#Here we perform encoding technique to convert the rows into unique values of the items present 
from mlxtend.preprocessing import TransactionEncoder

In [10]:
te = TransactionEncoder()

In [11]:
te_df= te.fit(transactions).transform(transactions)

In [12]:
df_encoded = pd.DataFrame(te_df, columns=te.columns_)

In [13]:
df_encoded.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Implementation of Apriori Algorithm

In [15]:
frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
frequent_itemsets

      support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (milk, mineral water, ground beef)
255  0.017067  (ground beef, spaghetti, mineral water)
256  0.015733         (milk, spaghetti, mineral water)
257  0.010267    (spaghetti, mineral water, olive oil)
258  0.011467     (spaghetti, mineral water, pancakes)

[259 rows x 2 columns]

# Generating Association rules over the dataset processed using Apriori Algorithm

In [43]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules = rules[(rules['support'] >= 0.02) & 
              (rules['confidence'] >= 0.3) & 
              (rules['lift'] >= 1.2)]
rules = rules[['antecedents', 'consequents', 'antecedent support', 'consequent support','support', 'confidence', 'lift']]
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
5,(burgers),(eggs),0.087200,0.179733,0.028800,0.330275,1.837585
33,(cake),(mineral water),0.081067,0.238267,0.027467,0.338816,1.422002
51,(chicken),(mineral water),0.060000,0.238267,0.022800,0.380000,1.594852
71,(chocolate),(mineral water),0.163867,0.238267,0.052667,0.321400,1.348907
93,(cooking oil),(mineral water),0.051067,0.238267,0.020133,0.394256,1.654683
124,(frozen smoothie),(mineral water),0.063200,0.238267,0.020133,0.318565,1.337012
135,(frozen vegetables),(mineral water),0.095333,0.238267,0.035733,0.374825,1.573133
164,(ground beef),(mineral water),0.098267,0.238267,0.040933,0.416554,1.748266
172,(ground beef),(spaghetti),0.098267,0.174133,0.039200,0.398915,2.290857
187,(low fat yogurt),(mineral water),0.076400,0.238267,0.023867,0.312391,1.311098
188,(milk),(mineral water),0.129600,0.238267,0.048000,0.370370,1.554436
207,(olive oil),(mineral water),0.065733,0.238267,0.027467,0.417850,1.753707
209,(pancakes),(mineral water),0.095067,0.238267,0.033733,0.354839,1.489250
215,(shrimp),(mineral water),0.071333,0.238267,0.023467,0.328972,1.380688
217,(soup),(mineral water),0.050533,0.238267,0.023067,0.456464,1.915771
218,(spaghetti),(mineral water),0.174133,0.238267,0.059733,0.343032,1.439698
221,(tomatoes),(mineral water),0.068400,0.238267,0.024400,0.356725,1.497168
225,(whole wheat rice),(mineral water),0.058533,0.238267,0.020133,0.343964,1.443608
229,(olive oil),(spaghetti),0.065733,0.174133,0.022933,0.348884,2.003547
245,(tomatoes),(spaghetti),0.068400,0.174133,0.020933,0.306043,1.757520

In [41]:
# Sort by lift for most interesting rules
rules.sort_values(by='lift', ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
172,(ground beef),(spaghetti),0.098267,0.174133,0.039200,0.398915,2.290857
229,(olive oil),(spaghetti),0.065733,0.174133,0.022933,0.348884,2.003547
217,(soup),(mineral water),0.050533,0.238267,0.023067,0.456464,1.915771
5,(burgers),(eggs),0.087200,0.179733,0.028800,0.330275,1.837585
245,(tomatoes),(spaghetti),0.068400,0.174133,0.020933,0.306043,1.757520
207,(olive oil),(mineral water),0.065733,0.238267,0.027467,0.417850,1.753707
164,(ground beef),(mineral water),0.098267,0.238267,0.040933,0.416554,1.748266
93,(cooking oil),(mineral water),0.051067,0.238267,0.020133,0.394256,1.654683
51,(chicken),(mineral water),0.060000,0.238267,0.022800,0.380000,1.594852
135,(frozen vegetables),(mineral water),0.095333,0.238267,0.035733,0.374825,1.573133

# Interpretaion of Rules generated
- first rule says that, mineral water associated with avocado says that if the person will purchased avocado if he had already purchased Mineral water
- if lift ratio is greater than 1 then the generated rules are good rules
- all the asscoiated rules generated are valid so we can use this rule and give offer on one product and raise the price on other hand we can also perform inventory management part also based on the rules generated
- Customers who buy milk often also buy bread (confidence = 0.78).
- Lift > 1 indicates positive association between products.
- Bundling or promotional strategies can be designed using such rules.

# Interview Questions
- What is lift and why is it important in Association rules?
- What is support and Confidence. How do you calculate them?
- What are some limitations or challenges of Association rules mining?

# what is lift and why is it important in Association rules?
- Lift ratio show how effective the rule is in finding the consequents vs antecendents
  it shows that how important is consequents

# What is support and Confidence. How do you calculate them?
- Support: raio of transactions within antecendent and consequent itemsets that appears in a data
- Formula to calulate Support: (Antecedent+Consequent)/Total transactions
- Confidence: ratio of antecedent(if) transctions that also have the consequent(then) item set
- Formula to calulate Confidence: (Antecedent+consequent)/Antecedent

# What are some limitations or challenges of Association rules mining?
- Dataset with large values can create overwhelm numbers of rules
- Large dataset can lead to slow performance in creating rules
- Random data can generate missleading patterns